<html>
<p> Enter Username and Password </p>
<FORM action="/process" method="post">
    <P>
        <LABEL for="firstname">email </LABEL>
        <INPUT type="text" id="email"><BR>
        <LABEL for="lastname">Password </LABEL>
        <INPUT type="text" id="password"><BR>
        <INPUT type="submit" value="Send"> <INPUT type="reset">
    </P>
</FORM>
</html>